<form [formGroup]="frmPaciente" (ngSubmit)="guardarPaciente()">
  <h2
    style="text-align: center"
    class="text-base/7 font-semibold text-gray-900"
  >
    PACIENTES
  </h2>
  <div class="space-y-12">
    <div class="border-b border-gray-900/10 pb-12">
      <h2 class="text-base/7 font-semibold text-gray-900">
        Información Personal
      </h2>
      <p class="mt-1 text-sm/6 text-gray-600"></p>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-2 sm:col-start-1">
          <label for="city" class="block text-sm/6 font-medium text-gray-900"
            >CEDULA *</label
          >
          <div class="mt-2">
            <input
              formControlName="txtCedula"
              placeholder="Cedula del paciente"
              maxlength="10"
              type="text"
              name="codigoinpt"
              id="codigoinpt"
              autocomplete="address-level2"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
            />
            <div>
              <small
                *ngIf="
                  frmPaciente.get('txtCedula')?.invalid &&
                  frmPaciente.get('txtCedula')?.touched
                "
                class="msgerro"
              >
                * La cédula es obligatoria.
              </small>
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="region" class="block text-sm/6 font-medium text-gray-900"
            >NOMBRES *</label
          >
          <div class="mt-2">
            <input
              placeholder="Ingrese los dos nombres"
              formControlName="txtNombres"
              type="text"
              name="first-name"
              id="first-name"
              autocomplete="given-name"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
            />

            <div
              *ngIf="
                frmPaciente.get('txtNombres')?.invalid &&
                frmPaciente.get('txtNombres')?.touched
              "
              class="msgerro"
            >
              <small *ngIf="frmPaciente.get('txtNombres')?.errors?.['required']"
                >* Dato obligatorio.</small
              >
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <label
            for="postal-code"
            class="block text-sm/6 font-medium text-gray-900"
            >APELLIDOS *</label
          >
          <div class="mt-2">
            <input
              placeholder="Ingrese los dos apellidos"
              formControlName="txtApellidos"
              type="text"
              name="last-name"
              id="last-name"
              autocomplete="family-name"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
            />
            <div
              *ngIf="
                frmPaciente.get('txtApellidos')?.invalid &&
                frmPaciente.get('txtApellidos')?.touched
              "
              class="msgerro"
            >
              <small
                *ngIf="frmPaciente.get('txtApellidos')?.errors?.['required']"
                >* Dato obligatorio.</small
              >
            </div>
          </div>
        </div>

        <div class="sm:col-span-2 sm:col-start-1">
          <label for="city" class="block text-sm/6 font-medium text-gray-900"
            >FECHA DE NACIMIENTO *</label
          >

          <div class="mt-2">
            <input
              formControlName="txtFechNac"
              type="date"
              name="city"
              id="city"
              autocomplete="address-level2"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
            />
            <div
              *ngIf="
                frmPaciente.get('txtFechNac')?.invalid &&
                frmPaciente.get('txtFechNac')?.touched
              "
              class="msgerro"
            >
              <small *ngIf="frmPaciente.get('txtFechNac')?.errors?.['required']"
                >* Dato obligatorio.</small
              >
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="region" class="block text-sm/6 font-medium text-gray-900"
            >NÚMERO DE TELEFONO *</label
          >
          <div class="mt-2">
            <input
              formControlName="txtNumTelefono"
              placeholder="Ingrese el número de telefono o celular"
              maxlength="10"
              type="text"
              name="region"
              id="region"
              autocomplete="address-level1"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
            />
            <div
              *ngIf="
                frmPaciente.get('txtNumTelefono')?.invalid &&
                frmPaciente.get('txtNumTelefono')?.touched
              "
              class="msgerro"
            >
              <small
                *ngIf="frmPaciente.get('txtNumTelefono')?.errors?.['required']"
                >* Dato obligatorio.</small
              >
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="city" class="block text-sm/6 font-medium text-gray-900"
            >CORREO ELECTRONICO
          </label>
          <div class="mt-2">
            <input
              formControlName="txtCorreo"
              placeholder="@ejemplo.com"
              type="email"
              name="city"
              id="city"
              autocomplete="address-level2"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
            />
          </div>
        </div>

        <div class="col-span-full">
          <label
            for="street-address"
            class="block text-sm/6 font-medium text-gray-900"
            >DIRECCIÓN DE DOMICILIO *</label
          >
          <div class="mt-2">
            <textarea
              formControlName="txtDireccion"
              id="direccion"
              rows="3"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
            ></textarea>
            <div
              *ngIf="
                frmPaciente.get('txtDireccion')?.invalid &&
                frmPaciente.get('txtDireccion')?.touched
              "
              class="msgerro"
            >
              <small
                *ngIf="frmPaciente.get('txtDireccion')?.errors?.['required']"
                >* Dato obligatorio.</small
              >
            </div>
          </div>

          <label
            for="street-address"
            class="block text-sm/6 font-medium text-gray-900"
            >DESCRIPCIÓN DEL PACIENTE</label
          >
          <div class="mt-2">
            <textarea
              formControlName="txtDetalles"
              placeholder="Ingrese una descripcion del paciente, en caso de necesitarlo"
              id="txtDetalles"
              rows="3"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <a routerLink="../listapacientes">
      <button type="button" class="text-sm/6 font-semibold text-gray-900" (click)="salirSinGuardar()"
      >

        Cancelar
      </button>
    </a>
    <button
      type="submit"
      class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      Guardar
    </button>
  </div>
</form>
