<form [formGroup]="frmHorarios" (ngSubmit)="guardarhorario()">
  <h2
    style="text-align: center"
    class="text-base/7 font-semibold text-gray-900"
  >
    HORARIOS
  </h2>
  <div class="space-y-12">
    <div class="border-b border-gray-900/10 pb-12">
      <p class="mt-1 text-sm/6 text-gray-600"></p>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-2 sm:col-start-1">
          <label for="city" class="block text-sm/6 font-medium text-gray-900"
            >HORA INICIO</label
          >
          <div class="mt-2">
            <input
              formControlName="txtHoraInicio"
              placeholder="00:00"
              type="text"
              name="codigoinpt"
              id="codigoinpt"
              autocomplete="address-level2"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
            />
            <div>
              <small
                *ngIf="
                  frmHorarios.get('txtHoraInicio')?.invalid &&
                  frmHorarios.get('txtHoraInicio')?.touched
                "
                class="msgerro"
              >
                * Hora de inicio obligatoria.
              </small>
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="region" class="block text-sm/6 font-medium text-gray-900"
            >HORA FIN</label
          >
          <div class="mt-2">
            <input
              formControlName="txtHoraFin"
              placeholder="00:00"
              type="text"
              name="first-name"
              id="first-name"
              autocomplete="given-name"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
            />
            <div>
              <small
                *ngIf="
                  frmHorarios.get('txtHoraFin')?.invalid &&
                  frmHorarios.get('txtHoraFin')?.touched
                "
                class="msgerro"
              >
                * Hora de Finalización obligatoria.
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <!-- <a routerLink="../listahorarios"> -->
      <button class="text-sm/6 font-semibold text-gray-900" (click)="salirSinGuardar()">
        Cancelar
      </button>
    <!-- </a> -->
    <button
      type="submit"
      class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      Guardar
    </button>
  </div>
</form>
